{% extends "vue_setup_base.html" %}
{% load i18n %}
{% load static %}
{% load simpletags %}

{% block title %}
{{ title }}
{% endblock %}

{% block extra_css %}
<style>
    .el-from {
        width: 100% !important;

    }

    .order-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 12px;
        gap: 12px;
        /* 建议加上统一间距 */
    }

    /* 默认（大屏幕）布局：左右排列 */
    .order-info-container {
        width: 40%;
    }

    .order-items-container {
        width: calc(60% - 12px);
    }

    /* 小屏幕下改为垂直排列并自适应宽度 */
    @media (max-width: 768px) {
        .order-container {
            flex-direction: column;
        }

        .order-info-container,
        .order-items-container {
            width: 100%;
        }
    }


    .from-title {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
        background-color: gray;
        color: white;
        padding-left: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
    }

    .table-header-class {
        background-color: gainsboro !important;
    }

    .order-items-container:fullscreen {
        background-color: #fff;
        width: 100vw;
        height: 100vh;
    }
</style>
{% endblock %}

{% block content %}
<div id="app">
    <div class="page-header">
        <el-page-header title="{% trans 'Back' %}" @back="goBack" content="{{title}}" />
    </div>
    <div class="page-container">
        <el-form :model="pageData.fromData" label-width="auto" size="default">
            <div class="order-container">
                <div class="order-info-container">
                    <div class="from-title">
                        <span>订单基础信息</span>
                    </div>
                    <el-form-item label="订单类型" prop="order_type">
                        <el-select v-model="pageData.fromData.order_type" placeholder="请选择订单类型">
                            <el-option v-for="item in pageData.orderTpyeOptions" :key="item.value" :label="item.label"
                                :value="item.value" />
                        </el-select>
                    </el-form-item>
                    <el-form-item label="订单工作流" prop="flow_definition">
                        <el-select v-model="pageData.fromData.flow_definition" placeholder="请选择订单工作流">
                            <el-option v-for="item in pageData.flowDefinitionOptions" :key="item.value"
                                :label="item.label" :value="item.value" />
                        </el-select>
                    </el-form-item>
                    <el-form-item label="订单备注" prop="memo">
                        <el-input v-model="pageData.fromData.memo" :rows="1" type="textarea" placeholder="请输入订单备注" />
                    </el-form-item>
                    <el-form-item label="订单配送方式" prop="delivery_method">
                        <el-select v-model="pageData.fromData.delivery_method" placeholder="请选择订单配送方式">
                            <el-option v-for="item in pageData.deliveryMethodOptions" :key="item.value"
                                :label="item.label" :value="item.value" />
                        </el-select>
                    </el-form-item>

                    <div class="from-title">
                        <span>订单发货方</span>
                        <el-button type="info" round plain size="small">导入 <el-icon>
                                <Search />
                            </el-icon></el-button>
                    </div>
                    <el-form-item label="订单发货方" prop="shipping_party">
                        <el-input v-model="pageData.fromData.shipping_party" placeholder="请输入发货方名称" />
                    </el-form-item>
                    <el-form-item label="发货方公司" prop="shipping_party_company">
                        <el-input v-model="pageData.fromData.shipping_party_company" placeholder="请输入发货方公司名称" />
                    </el-form-item>
                    <el-form-item label="发货方电话" prop="shipping_party_phone">
                        <el-input v-model="pageData.fromData.shipping_party_phone" placeholder="请输入发货方电话" />
                    </el-form-item>
                    <el-form-item label="发货方地址" prop="shipping_party_address">
                        <el-input v-model="pageData.fromData.shipping_party_address" placeholder="请输入发货方地址" />
                    </el-form-item>

                    <div class="from-title">
                        <span>订单收货方</span>
                        <el-button type="info" round plain size="small">导入 <el-icon>
                                <Search />
                            </el-icon></el-button>
                    </div>
                    <el-form-item label="收货方" prop="receiver_name">
                        <el-input v-model="pageData.fromData.receiver_name" placeholder="请输入收货方名称" />
                    </el-form-item>
                    <el-form-item label="收货方公司" prop="receiver_company">
                        <el-input v-model="pageData.fromData.receiver_company" placeholder="请输入收货方公司名称" />
                    </el-form-item>
                    <el-form-item label="收货方电话" prop="receiver_phone">
                        <el-input v-model="pageData.fromData.receiver_phone" placeholder="请输入收货方电话" />
                    </el-form-item>
                    <el-form-item label="收货方地址" prop="receiver_address">
                        <el-input v-model="pageData.fromData.receiver_address" placeholder="请输入收货方地址" />
                    </el-form-item>


                </div>
                <div class="order-items-container" ref="itemsRef">
                    <div class="from-title">
                        <span>订单项</span>
                        <div>
                            <el-button type="primary" round plain size="small" @click="toggle">
                                [[ isFullscreen ? '取消全屏' : '全屏显示']]
                            </el-button>
                            <el-button type="info" round plain size="small">添加 <el-icon>
                                    <Plus />
                                </el-icon></el-button>
                        </div>
                    </div>
                    <el-form-item label="" prop="items">
                        <common-table ref="tableRef" 
                            :data="pageData.tableData.items" 
                            :columns="pageData.columns"
                            :loading="pageData.loading"
                            header-class-name="table-header-class"
                            border
                        >
                            <template #actions="{ row }">
                                <el-button type="success" size="small">发放</el-button>
                            </template>
                        </common-table>

                    </el-form-item>

                </div>
            </div>
        </el-form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="module">
    import CommonTable from "{% static 'vue/js/CommonTable.js' %}";
    import { useFullscreen } from "{% static 'vue/js/useFullscreen.js' %}";
    const { inject, reactive, ref } = Vue;
    window.createApp({
        components: { CommonTable },
        setup() {
            const goBack = inject("goBack");
            const itemsRef = ref(null);
            const { isFullscreen, enter, exit, toggle } = useFullscreen(itemsRef);
            const pageData = reactive({
                orderTpyeOptions: [
                    { label: "销售订单", value: 1 },
                ],
                flowDefinitionOptions: [
                    { label: "通用流程", value: 1 },
                ],
                deliveryMethodOptions: [
                    { label: "快递", value: 1 },
                    { label: "自提", value: 2 },
                ],
                tableData: {
                    items: []
                },
                columns: [
                    { prop: "item_name", label: "名称", align: "center", fixed: "left", width: 120 },
                    { prop: "pattern_code", label: "款号", align: "center", width: 120 },
                    { prop: "color", label: "颜色", align: "center", width: 120 },
                    { prop: "unit_price", label: "价格", align: "center", width: 220},
                    { prop: "count", label: "数量", align: "center", type: "input", width: 220 },
                    { prop: "total", label: "总额", align: "center", type: "input", width: 220 },
                    { prop: "total_unit", label: "单位", align: "center", type: "input", width: 220 },
                    { prop: "discount_price", label: "优惠", align: "center", type: "input", width: 220 },
                    { prop: "subtotal", label: "小计", align: "center", type: "input", width: 220 },
                    { prop: "memo", label: "备注", align: "center", type: "input" },
                ],
                loading: false,
                fromData: {
                    order_type: "",
                    flow_definition: null,
                    shipping_party: "",
                    shipping_party_company: "",
                    shipping_party_phone: "",
                    shipping_party_address: "",
                    delivery_method: "",
                    site_id: "",
                    receiver_name: "",
                    receiver_company: "",
                    receiver_phone: "",
                    receiver_address: "",
                    memo: "",
                    items: [],
                }
            })
            return { goBack, pageData, isFullscreen, toggle, itemsRef };
        }
    });
</script>
{% endblock %}