{% extends "vue_setup_base.html" %}
{% load i18n %}
{% load static %}
{% load simpletags %}

{% block title %}
{{ title }}
{% endblock %}

{% block extra_css %}
<style>

</style>
{% endblock %}

{% block content %}
<div id="app">
    <div class="page-header">
        <el-page-header title="{% trans 'Back' %}" @back="goBack" content="{{title}}"></el-page-header>
    </div>
    <div class="page-container" v-loading="pageData.pageLoading">
        <el-row justify="center">
            <el-col :span="12">
                <el-form :model="formData" ref="formRef" label-width="auto" :rules="formConf.rules">
                    <el-form-item label="版号" prop="code">
                        <el-input v-model="formData.code" placeholder="请输入版号" :disabled="patternId != ''" />
                    </el-form-item>
                    <el-form-item label="标签" prop="tags">
                        <el-input-tag v-model="formData.tags" placeholder="请输入版号" aria-label="输入后请点击回车键创建标签" />
                    </el-form-item>
                    <el-form-item label="是否启用" prop="is_active">
                        <el-switch v-model="formData.is_active" class="ml-2" inline-prompt
                            style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" active-text="启用"
                            inactive-text="禁用" />
                    </el-form-item>
                    <el-form-item label="备注" prop="memo">
                        <el-input v-model="formData.memo" :autosize="{ minRows: 2, maxRows: 4 }" type="textarea"
                            placeholder="请输入备注" />
                    </el-form-item>
                    <el-form-item label="主图" prop="main_image">
                        <common-image-upload v-model="mainImage" ref="mainImageRef" :limit="1" />
                    </el-form-item>
                    <el-form-item label="辅图" prop="images">
                        <common-image-upload v-model="images" ref="imagesRef" :limit="3" />
                    </el-form-item>
                    <el-form-item label="">
                        <el-button type="primary" @click="onSubmit(formRef)">提交</el-button>
                    </el-form-item>
                </el-form>
            </el-col>
        </el-row>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="module">
    import CommonImageUpload from "{% static 'vue/js/CommonImageUpload.js' %}";
    import useHideUploadButton from "{% static 'vue/js/useHideUploadButton.js' %}";
    const { reactive, onMounted, ref, inject } = Vue;
    window.createApp({
        components: { CommonImageUpload },
        setup() {

            /** django 注入 */
            const patternId = "{{pattern_id}}"

            /** 父页面弹窗 */
            const ElMessage = inject("ElMessage");

            /** 返回上级菜单 */
            const goBack = () => {
                window.location.href = "{% get_previous_url %}"
            };

            /** 页面数据 */
            const pageData = reactive({
                pageLoading: true,
            });

            // ---------------------- 初始化页面 ----------------------

            /** 异步初始化页面 */
            const asyncInit = async () => {
                pageData.pageLoading = false;
                if (patternId) {
                    const res = await request.get("/pattern_library/pattern_info", { pattern_id: patternId })
                    formData.code = res.code
                    formData.memo = res.memo
                    formData.tags = res.tags
                    formData.is_active = res.is_active
                    mainImage.value = [res.main_image]
                    images.value = res.images || []
                }
            };

            onMounted(() => {
                asyncInit();
            });

            // ---------------------- form 表单相关 ----------------------

            const formRef = ref(null)
            const formData = reactive({
                code: '',
                memo: '',
                tags: [],
                main_image: null,
                images: [],
                is_active: true,
            })
            const formConf = reactive({
                rules: {
                    code: [
                        { required: true, message: '请输入版号', trigger: 'blur' },
                    ],
                    main_image: [
                        { required: true, validator: validateMainImage, trigger: 'blur' },
                    ]

                }
            })
            const mainImage = ref([])
            const images = ref([])
            const mainImageRef = ref(null)
            const imagesRef = ref(null)
            useHideUploadButton(mainImageRef, mainImage, 1);
            useHideUploadButton(imagesRef, images, 3);

            /** 主图验证 */
            function validateMainImage(rule, value, callback) {
                if (!value) {
                    callback(new Error('请上传主图'))
                } else {
                    callback()
                }

            }

            /** 提交表单 */
            const onSubmit = async (formEl) => {
                if (!formEl) return

                formData.main_image = (mainImage.value.length > 0) ? mainImage.value[0] : '';
                formData.images = images.value
                await formEl.validate()
                try{
                    pageData.pageLoading = true
                    await EditPattern()
                }finally{
                    pageData.pageLoading = false
                }
            }

            const EditPattern = async (data) => {
                console.log(formData)
                const fd = new FormData()

                // 文本字段
                fd.append("code", formData.code)
                fd.append("memo", formData.memo ?? "")
                fd.append("tags", formData.tags)
                fd.append("is_active", formData.is_active)
                
                // 单文件
                if (formData.main_image) {
                    if(formData.main_image.raw) {
                        fd.append("main_image", formData.main_image.raw)
                    } else {
                        fd.append("main_image_id", formData.main_image.rid)
                    }
                }

                // 多文件
                formData.images.forEach(file => {
                    if(file.raw) {
                        fd.append("images", file.raw)
                    } else {
                        fd.append("image_ids", file.rid)
                    }
                })

                if (patternId) {
                    fd.append("pattern_id", patternId)
                    await request.post("/pattern_library/pattern_change", fd)
                } else {
                    await request.post("/pattern_library/pattern_add", fd)
                }
                ElMessage.success("操作成功")
                goBack()
            }


            return {
                patternId,
                pageData,
                goBack,

                // form表单相关
                formRef,
                formData,
                formConf,
                mainImage,
                mainImageRef,
                imagesRef,
                images,
                onSubmit,

            };
        }
    });
</script>
{% endblock %}