{% extends "vue_base.html" %}
{% load static %}
{% load simpletags %}

{% block title %} {{ title }}{% endblock %}

{% block extra_css %}
<style>

</style>
{% endblock %}

{% block content %}
<div id="app">
    <div class="page-header">
        <el-page-header title="返回" @back="goBack" content="{{title}}"></el-page-header>
        <div class="header-right">
            <el-button type="default" @click="refreshPage"><el-icon>
                    <Refresh />
                </el-icon>重置</el-button>
            <el-button type="default" @click="batchDisbursementHandle">批量发放</el-button>
            <el-button type="default"
                @click="batchModifyDecimalField('actual_disbursement', 'sub', selectRows)">批量减少</el-button>
            <el-button type="default"
                @click="batchModifyDecimalField('actual_disbursement', 'add', selectRows)">批量增加</el-button>
            <el-button type="danger" @click="batchRemoveHandle">批量移除</el-button>
        </div>
    </div>
    <div class="page-container">
        <common-table :data="tableData.items" :columns="columns" :loading="loading" :selectable="true"
            v-model:filter-form="tableFilter" :is-paginated="true" v-model:current-page="tableData.current_page"
            v-model:page-size="tableData.page_size" v-model:total-count="tableData.total_count"
            @selection-change="onSelectionChange" @row-click="onRowClick" @page-change="pageChangeHandle">
            <template #actions="{ row }">
                <el-button type="success" size="small">发放</el-button>
                <el-button type="danger" size="small" @click="removeItems([row])">移除</el-button>
            </template>

            <template #filter="{ model }">
                <el-form-item label="姓名">
                    <el-input v-model="model.full_name" placeholder="请输入姓名" clearable />
                </el-form-item>
                <el-form-item label="手机号">
                    <el-input v-model="model.phone" placeholder="请输入手机号" clearable />
                </el-form-item>
            </template>
        </common-table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="module">
    import CommonTable from "{% static 'vue/js/CommonTable.js' %}"

    window.initVueApp({
        components: { CommonTable },
        data() {
            return {
                loading: false,
                tableFilter: {
                    full_name: "",
                    phone: "",                    
                },
                tableData: {
                    current_page: 1,  // 当前页码
                    page_size: 15, // 每页数量
                    total_count: 0, // 总数量
                    items: []
                },
                columns: [
                    { prop: "staff_code", label: "工号", align: "center", width: 120 },
                    { prop: "full_name", label: "姓名", align: "center", width: 120 },
                    { prop: "phone", label: "手机号", align: "center", width: 180 },
                    { prop: "account_balance", label: "账户余额（元）", align: "center", width: 200 },
                    { prop: "basic_salary", label: "基本工资（元）", align: "center", width: 200 },
                    { prop: "max_salary", label: "最大可发工资（元）", align: "center", width: 200 },
                    { prop: "actual_disbursement", label: "实发工资（元）", align: "center", type: "input", width: 220 },
                    { prop: "memo", label: "备注", align: "center", type: "input" },
                ],
                selectRows: [],
            }
        },
        beforeMount() {
            this.initPage();
        },
        methods: {
            tabelApi: async function() {
                const data = {
                    current_page: this.tableData.current_page,
                    page_size: this.tableData.page_size,
                }
                const res = await request.post("/staff/salary/padding_salary", {}, data);
                return this.tableData = res;                
            },
            // 初始化页面
            initPage: async function () {
                this.loading = true;
                try {
                    // 清空列表
                    this.tableData = [];
                    await this.tabelApi();
                } catch (e) {
                    this.$ElMessage.error("页面数据加载失败！")
                    throw e;
                } finally {
                    this.loading = false;
                }
            },

            // 刷新页面数据
            refreshPage: async function () {
                await this.initPage();
                this.$ElMessage.success("刷新成功！")
            },


            // 返回上一页
            goBack: function () {
                window.location.href = '{% get_previous_url %}'
            },

            // 移除项
            removeItems: function (rows) {
                if (rows.length == 0) {
                    this.$ElMessage.warning("请选择要删除的项！")
                } else {
                    for (const row of rows) {
                        this.tableData.splice(this.tableData.indexOf(row), 1)
                    }

                }
            },

            // 批量移除
            batchRemoveHandle: function () {
                this.removeItems(this.selectRows)
            },

            // 批量发放
            batchDisbursementHandle: function () {

            },

            // 列表发生变化
            pageChangeHandle: function (data) {
                console.log(this.tableData)
                console.log(this.tableFilter)
            },

            /**
             * 批量修改选中行的 Decimal 字段
             * @param {String} field - 需要修改的字段名，例如 'actual_disbursement'
             * @param {String} action - 'add' 或 'sub'
             * @param {Array} rows - 选中行数组
            */
            batchModifyDecimalField: async function (field, action, rows) {
                if (rows.length < 1) {
                    this.$ElMessage.warning('请选择要修改的行');
                    return;
                }
                try {
                    const { value } = await this.$ElMessageBox.prompt(
                        '请输入金额：',
                        action === 'add' ? '批量增加金额' : '批量减少金额',
                        {
                            confirmButtonText: '提交',
                            cancelButtonText: '取消',
                            inputPattern: /^[0-9]+(\.[0-9]+)?$/, // 只允许数字
                            inputErrorMessage: '请输入合法数字',
                        }
                    );

                    if (!value || isNaN(value)) {
                        this.$ElMessage.error('请输入有效金额');
                        return;
                    }

                    const modifyVal = new Decimal(value.trim());

                    rows.forEach(row => {
                        const currentVal = new Decimal(row[field] || 0);
                        let newVal;
                        if (action === 'add') newVal = currentVal.plus(modifyVal);
                        else if (action === 'sub') newVal = currentVal.minus(modifyVal);
                        else throw new Error('未知操作类型: ' + action);

                        // 保留两位小数
                        row[field] = newVal.toFixed(2);
                    });

                    this.$ElMessage.success(
                        action === 'add'
                            ? `已批量增加 ${modifyVal.toFixed(2)}`
                            : `已批量减少 ${modifyVal.toFixed(2)}`
                    );
                } catch (err) {
                    console.log('操作取消或异常:', err);
                }
            },




            onSelectionChange: function (val) {
                this.selectRows = val
            },
            onRowClick(row) {
                console.log("点击行：", row);
            }
        }
    });
</script>
{% endblock %}