{% extends "vue_base.html" %}
{% load static %}
{% load simpletags %}

{% block title %} {{ title }}{% endblock %}

{% block extra_css %}
<style>
    .table-row-red td {
        background-color: var(--el-color-danger-light-7) !important;
    }
</style>
{% endblock %}

{% block content %}
<div id="app">
    <div class="page-header">
        <el-page-header title="返回" @back="goBack" content="{{title}}"></el-page-header>
        <div class="header-right">
            <el-button type="default" @click="refreshPage"><el-icon>
                    <Refresh />
                </el-icon>重置</el-button>
            <el-button type="default" @click="batchDisbursementHandle(this.selectRows)">批量发放</el-button>
            <el-button type="default"
                @click="batchModifyDecimalField('actual_disbursement', 'sub', selectRows)">批量减少</el-button>
            <el-button type="default"
                @click="batchModifyDecimalField('actual_disbursement', 'add', selectRows)">批量增加</el-button>
            <el-button type="danger" @click="batchRemoveHandle">批量移除</el-button>
        </div>
    </div>
    <div class="page-container">
        <common-table ref="tableRef" :data="tableData.items" :columns="columns" :loading="loading"
            :selectable-is-show="true" v-model:filter-form="tableFilter" :is-paginated="true"
            v-model:current-page="tableData.current_page" v-model:page-size="tableData.page_size"
            v-model:total-count="tableData.total_count" :row-class-name="rowClassName"
            @selection-change="onSelectionChange" @row-click="onRowClick" :selectable="selectable"
            @page-change="pageChangeHandle">
            <template #actions="{ row }">
                <el-button type="success" size="small" @click="batchDisbursementHandle([row.staff_code])"
                    :disabled="errorRows.includes(row.staff_code)">发放</el-button>
                <el-button type="danger" size="small" @click="removeItem(row.staff_code)">移除</el-button>
            </template>

            <template #filter="{ model }">
                <el-form-item label="姓名">
                    <el-input v-model="model.full_name" placeholder="请输入姓名" clearable />
                </el-form-item>
                <el-form-item label="手机号">
                    <el-input v-model="model.phone" placeholder="请输入手机号" clearable />
                </el-form-item>
            </template>
        </common-table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="module">
    import CommonTable from "{% static 'vue/js/CommonTable.js' %}"

    window.initVueApp({
        components: { CommonTable },
        data() {
            return {
                loading: false,
                tableFilter: {
                    full_name: "",
                    phone: "",
                },
                sort: ["staff_code"],
                tableData: {
                    current_page: 1,  // 当前页码
                    page_size: 15, // 每页数量
                    total_count: 0, // 总数量
                    items: []
                },
                columns: [
                    { prop: "staff_code", label: "工号", align: "center", fixed: "left", width: 120 },
                    { prop: "full_name", label: "姓名", align: "center", fixed: "left", width: 120 },
                    { prop: "phone", label: "手机号", align: "center", width: 180 },
                    { prop: "account_balance", label: "账户余额（元）", align: "center", width: 200 },
                    { prop: "basic_salary", label: "基本工资（元）", align: "center", width: 200 },
                    { prop: "max_salary", label: "最大可发工资（元）", align: "center", width: 200 },
                    { prop: "actual_disbursement", label: "实发工资（元）", align: "center", type: "input", width: 220 },
                    { prop: "memo", label: "备注", align: "center", type: "input" },
                ],
                selectRows: [],
                errorRows: [],
            }
        },
        beforeMount() {
            this.initPage();
        },
        watch: {
            "tableData.items": {
                handler(newVal, oldVal) {
                    newVal?.forEach(item => {
                        const staff_code = item.staff_code;
                        const actual_disbursement = new Decimal(item.actual_disbursement | 0)
                        const max_salary = new Decimal(item.max_salary | 0)
                        if (actual_disbursement.greaterThan(max_salary) || actual_disbursement.lessThan(0)) {
                            this.errorRows.push(staff_code);
                            this.unSelection(staff_code)
                            console.log("add error row", staff_code)
                            return;
                        }

                        const idx = this.errorRows.indexOf(staff_code);
                        if (idx !== -1) {
                            this.errorRows.splice(idx, 1);
                            console.log("remove error row", staff_code)
                        }
                    })
                },
                immediate: true, // 立即执行一次
                deep: true
            }
        },
        methods: {
            tabelApi: async function () {
                this.loading = true;
                try {
                    this.tableData.items = [];
                    const data = {
                        current_page: this.tableData.current_page,
                        page_size: this.tableData.page_size,
                        filter: JSON.stringify(this.tableFilter),
                        sort: JSON.stringify(this.sort)
                    }
                    const res = await request.post("/staff/salary/basic_disbursement_list", {}, data);
                    return this.tableData = res;
                } catch (e) {
                    this.$ElMessage.error("页面数据加载失败！")
                    throw e;
                } finally {
                    this.loading = false;
                }
            },
            // 初始化页面
            initPage: async function () {
                this.tableData.current_page = 1;
                this.tableData.page_size = 15;
                await this.tabelApi();
            },

            // 动态修改表格行样式
            rowClassName: function ({ row, rowIdx }) {
                if (this.errorRows.includes(row.staff_code)) {
                    return "table-row-red";
                }
            },

            // 是否可以选择
            selectable: function (row, rowIdx) {
                return !this.errorRows.includes(row.staff_code);
            },

            // 刷新页面数据
            refreshPage: async function () {
                await this.initPage();
                this.$ElMessage.success("刷新成功！")
            },

            // 取消表格行选择
            unSelection: function (staff_code) {
                const tableRef = this.$refs.tableRef?.getTableRef()
                if (staff_code) {
                    const row = this.tableData.items.find(item => item.staff_code == staff_code)
                    if (row) {
                        tableRef?.toggleRowSelection(
                            row,
                            false
                        )
                    }
                } else {
                    tableRef?.clearSelection();
                }
            },

            // 工资发放
            batchDisbursementApi: async function (rows) {
                await request.post("/staff/salary/batch_disbursement", rows);
                this.$ElMessage.success('操作成功');
            },


            // 返回上一页
            goBack: function () {
                window.location.href = '{% get_previous_url %}'
            },

            // 移除项
            removeItem: function (staff_code) {
                let removeIdx = null;
                this.tableData.items.forEach((item, idx) => {
                    if (item.staff_code == staff_code) {
                        removeIdx = idx;
                    }
                })
                if (removeIdx !== null) {
                    this.tableData.items.splice(removeIdx, 1);
                }
            },

            // 批量移除
            batchRemoveHandle: function () {
                for (const staff_code of this.selectRows) {
                    this.removeItem(staff_code)
                }
            },

            // 批量发放
            batchDisbursementHandle: async function (staff_codes) {
                if (!staff_codes?.length) {
                    this.$ElMessage.warning("请选择要发放的行！")
                    return;
                }
                await this.$ElMessageBox.confirm("确定要发放吗？", "提示", {
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    type: "primary",
                })
                const selectRows = []
                for (const staff_code of staff_codes) {
                    const row = this.tableData.items.find(item => item.staff_code == staff_code)
                    if (row) {
                        selectRows.push(row)
                    }
                }
                await this.batchDisbursementApi(selectRows)
                await this.initPage()
            },

            // 列表发生变化
            pageChangeHandle: function (data) {
                this.tabelApi()
            },

            /**
             * 批量修改选中行的 Decimal 字段
             * @param {String} field - 需要修改的字段名，例如 'actual_disbursement'
             * @param {String} action - 'add' 或 'sub'
             * @param {Array} rows - 选中行数组
            */
            batchModifyDecimalField: async function (field, action, rows) {
                if (rows.length < 1) {
                    this.$ElMessage.warning('请选择要修改的行');
                    return;
                }
                try {
                    const { value } = await this.$ElMessageBox.prompt(
                        '请输入金额：',
                        action === 'add' ? '批量增加金额' : '批量减少金额',
                        {
                            confirmButtonText: '提交',
                            cancelButtonText: '取消',
                            inputPattern: /^[0-9]+(\.[0-9]+)?$/, // 只允许数字
                            inputErrorMessage: '请输入合法数字',
                        }
                    );

                    if (!value || isNaN(value)) {
                        this.$ElMessage.error('请输入有效金额');
                        return;
                    }

                    const modifyVal = new Decimal(value.trim());

                    this.tableData.items.forEach(item => {
                        if (rows.includes(item.staff_code)) {
                            const currentVal = new Decimal(item[field] || 0);
                            let newVal;
                            if (action === 'add') newVal = currentVal.plus(modifyVal);
                            else if (action === 'sub') newVal = currentVal.minus(modifyVal);
                            else throw new Error('未知操作类型: ' + action);

                            // 保留两位小数
                            item[field] = newVal.toFixed(2);
                        }
                    });

                    this.$ElMessage.success(
                        action === 'add'
                            ? `已批量增加 ${modifyVal.toFixed(2)}`
                            : `已批量减少 ${modifyVal.toFixed(2)}`
                    );
                } catch (err) {
                    console.log('操作取消或异常:', err);
                }
            },
            onSelectionChange: function (val) {
                this.selectRows = []
                val.forEach(row => {
                    this.selectRows.push(row.staff_code)
                })
            },
            onRowClick(row) {
                console.log("点击行：", row);
            }
        }
    });
</script>
{% endblock %}