* {
    box-sizing: border-box;
}

html,
body, 
#app{
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    overflow: auto;
}



#app {
    width: 100%;
    min-height: 100%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.page-header, .page-container, .page-footer { 
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    box-shadow: 0 0 8px rgba(10, 10, 10, 0.1);
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-header .el-page-header {
    display: flex;
    align-items: center;
}

.page-container {
    flex: 1;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.page-footer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}






/* CommonTable */
.common-table-wrapper {
    flex: 1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.common-table-wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.common-table-header > th.el-table__cell {
  background-color: #676b7a !important; 
  font-weight: bold;
  color: #fff !important;
}
